.title {
    display: inline-block;
    margin: 0;
    font-size: 72px;
    font-weight: 900;
    color: #0b0b0b;
}

.grid-box {
    width: calc(100% - 4px - 2rem);
    margin: 5rem 1rem 0 1rem;
    padding-bottom: 2rem;
}

.mat-grid-tile {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    outline: none;
}

.no-shadow {
    box-shadow: none !important;
}

.mat-grid-tile-content
{
    flex-direction: column;
}

.listing-box {
    width: 100%;
    height: 15rem;
    overflow-y: auto;
}
