<mat-grid-list class="grid-box" cols="4" rowHeight="50px" [gutterSize]="'15px'">
    <mat-grid-tile class="no-shadow" colspan="2" rowspan="2">
        <h1 class="title">{{ postcode }}</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4">
        <app-map class="listing-box" [long]="long" [lat]="lat"></app-map>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4">
        <app-prices class="listing-box" [loading]="loading" [data]="postcodeData?.prices"></app-prices>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4">
        <app-restaurants class="listing-box" [loading]="loading" [data]="postcodeData?.restaurants"></app-restaurants>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4">
        <app-rents class="listing-box" [loading]="loading" [data]="postcodeData?.rents"></app-rents>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4">
        <app-crime class="listing-box" [loading]="loading" [data]="postcodeData?.crime"></app-crime>
    </mat-grid-tile>
</mat-grid-list>
