.title {
    display: inline-block;
    margin: 0;
    font-size: 72px;
    font-weight: 900;
    color: #0b0b0b;
}

.mat-grid-tile {
    /* border: solid 2px #000; */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    outline: none;
}

.mat-grid-tile-content
{
    flex-direction: column;
}

.listing-box {
    width: 100%;
    height: 15rem;
    overflow-y: auto;
}
