<mat-grid-list style="margin-top: 5rem; width: calc(100% - 4px);" cols="4" rowHeight="50px" [gutterSize]="'15px'">
    <mat-grid-tile colspan="2" rowspan="2">
        <h1 class="title">{{ postcode }}</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4">Map + transport</mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4">Prices</mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4">
        <app-restaurants [jsonData]="postcodeData?.restaurants"></app-restaurants>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4">Rents</mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4">Crime</mat-grid-tile>
</mat-grid-list>

<!-- <div>
    <p>{{ postcodeData?.crime ?? '...' }}</p>
    <p>{{ postcodeData?.rents ?? '...' | json }}</p>
    <p>{{ postcodeData?.prices ?? '...' | json }}</p>
    <p>{{ postcodeData?.restaurants ?? '...' | json }}</p>
</div> -->