<div>
    <div class="centre">
        <h1 class="title">Right Neighbourhood</h1>
        <p>Find the right neighbourhood for you</p>
        
        <div class="search">
            <input matInput #postcode class="round" placeholder="Enter a postcode"
                value="" (keyup.enter)="search(postcode.value)">
            <input type="submit" class="corner" value="" (click)="search(postcode.value)" />
        </div>
        <p *ngIf="showErrorMsg">Please enter a valid postcode</p>
    </div>
</div>



