<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Right Neighbourhood Logo"
    src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2aWV3Qm94PSIwIDAgNTAwIDUwMCIgd2lkdGg9IjUwMCIgaGVpZ2h0PSI1MDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHRleHQgc3R5bGU9ImZpbGw6IHJnYigyNTUsIDI1NSwgMjU1KTsgZm9udC1mYW1pbHk6IEFyaWFsLCBzYW5zLXNlcmlmOyBmb250LXNpemU6IDI4LjRweDsgd2hpdGUtc3BhY2U6IHByZTsiIHRyYW5zZm9ybT0ibWF0cml4KDEzLjI0NTc5OSwgMCwgMCwgMTYuOTY3NDkxLCAtNTcxLjM4NjMwOSwgLTExMjYuOTIyODg1KSIgeD0iNDYuNzE2IiB5PSI5MS4xNzYiPlI8L3RleHQ+CiAgPHRleHQgc3R5bGU9ImZpbGw6IHJnYigyNTUsIDI1NSwgMjU1KTsgZm9udC1mYW1pbHk6IEFyaWFsLCBzYW5zLXNlcmlmOyBmb250LXNpemU6IDI4LjRweDsgd2hpdGUtc3BhY2U6IHByZTsiIHRyYW5zZm9ybT0ibWF0cml4KDcuNDg2NzYzLCAwLCAwLCA2LjA5ODcxLCAtNjkuMDQwNTE0LCAtMjExLjM2Nzc4OSkiIHg9IjQ2LjcxNiIgeT0iOTEuMTc2Ij5OPC90ZXh0Pgo8L3N2Zz4="
  />
  <span routerLink="/Home" style="cursor:pointer;">Home</span>
    <div class="spacer"></div>
</div>

<div style="margin-top: 4rem;">
  <router-outlet></router-outlet>
</div>
