<div *ngIf="data">
    <p style="padding-left:1rem;">Prices</p>
    <mat-table [dataSource]="data">
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
          </ng-container>
      
        <ng-container matColumnDef="bedrooms">
          <mat-header-cell *matHeaderCellDef> Bedrooms </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.bedrooms}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="distance">
            <mat-header-cell *matHeaderCellDef> Distance </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.distance}} </mat-cell>
          </ng-container>
      
        <mat-header-row *matHeaderRowDef="['price', 'type', 'bedrooms', 'distance']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['price', 'type', 'bedrooms', 'distance']"></mat-row>
      </mat-table>
</div>
